@import url(./reset.css);

body{
    background: #FFF;
    color: #5f6c74;
    font: 13px/19px Tahoma, sans-serif; 
    min-width: 980px;
    padding: 0px;
}
b, strong{
    font-weight: bold;
}
i{
    font-style: italic;
}
a{
    color: #e11842;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
input, select, textarea{
    color: #000;
}
section{
    border-radius: 10px;
        -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
    padding: 30px 20px 10px;
    margin: 0 auto;
}
section > div{
    background: #ECF1F4;
    padding: 20px 10px 10px;
}
h1{
    background: #9BADB8;
    border-bottom: 1px solid #FFF;
    border-radius: 10px 10px 0px 0px;
    color: #FFF;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    position: relative;
    z-index: 2;
}
h1 + section{
    margin-top: -40px;
    position: relative;
    z-index: 1;
}
table {
    border-collapse: collapse;
    margin: 0px auto;
    width: 100%;
}

table, th, td {
    border: 1px solid #d0d7df;
}
th{
    background-color: #2a3940;
    color: #FFF;
}
td{
    background-color: #f4f6f6
}

th, td{
    line-height: 30px;
    padding: 0px 10px;
    text-align: left;
}
th{
    border-bottom-color: #2a3940;
    border-top-color: #2a3940;
}
th:first-child{
    border-left: 1px solid #2a3940;
}
th:last-child{
    border-right: 1px solid #2a3940;
}

th:first-child, 
td:first-child, 
th:last-child, 
td:last-child{
    text-align: center;
}

form{
    position: relative;
}

input[type="submit"]{
    background: -webkit-linear-gradient(#e11842, #e11842, #E8496A);
    background: -o-linear-gradient(#e11842, #e11842, #E8496A);
    background: -moz-linear-gradient(#e11842, #e11842, #E8496A);
    background: linear-gradient(#e11842, #e11842, #E8496A);
    border: none;
    border-radius: 3px;
        -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
    color: #FFF;
    line-height: 21px;
    margin-right: 5px;
}

fieldset{
    border: 1px solid #D0D7DF;
    padding: 10px;
} 

form.searchForm input[type="text"]{
    background-color: #FFF;
    border: 1px solid #8195a0;
    border-radius: 5px;
        -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
    float: left;    
    height: 15px;
    left: 0px;
    line-height: 20px;
    padding: 5px;
    position: relative;
    width: 600px;
}

form.searchForm input[type="submit"]{
    background: transparent url(../img/search_btn.gif) left top no-repeat;
    border-style: none;
    cursor: pointer;
    float: left;
    height: 30px;
    left: -27px;
    position: relative;
    top: -1px;
    width: 30px;
}
form.searchForm input[type="submit"]:hover{
    background-position-y: bottom;
}    
.clear{
    clear: both;
    float: none;
    height: 1px;
}
form.searchForm b, form.searchForm select{
    display: inline-block;
    margin: 10px 0px 0px;
}    
form.searchForm b + select{
    margin-left: 10px;
}
form.searchForm select + select{
    margin-left: 10px;
}
a.skype{
    background: url(../img/skype.png) center left no-repeat;
    background-size: 15px;
    color: inherit;
    display: block;
    padding-left: 20px;
    text-decoration: none;
}

.pagination{
    display: inline-block;
    margin: 8px 0px 2px;
    padding: 0px 15px;
    position: relative;    
}
.pagination li{
    float: left;
    margin: 0px 5px;
}
.pagination .prev, .pagination .next{
    background: url(../img/pagination_prev_button.gif) center center no-repeat;
    display: block;
    height: 13px;
    left: 0px;
    position: absolute;
    top: 3px;
    width: 13px;
}
.pagination .prev{
    background-image: url(../img/pagination_next_button.gif);
    left: auto;
    right: 0px;
}
.tableSubmit{
    bottom: 0px;
    float: right;
    position: absolute;
    right: 0px;
}

.publishForm p{
    border-bottom: 1px solid #cdd3de;
    border-top: 1px solid #FFF;
    padding: 10px 0px;
}
.publishForm p:first-child{
    border-top: none;
}
.publishForm p:last-child{
    border-bottom: none;
    text-align: right;
}
.publishForm label{
    display: block;
    font-weight: bold;
}
.publishForm label.required::before{
    color: #e11842;
    content: '*';
    display: block;
    float: left;
    position: relative;
    width: 10px;
}
.publishForm input[type="text"],
.publishForm input[type="password"],
.publishForm select,
.publishForm textarea{
    background: #FFF;
    border: 1px solid #8195a0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 2px 0;
    padding: 4px;
}
.publishForm input[type="text"],
.publishForm input[type="password"],
.publishForm textarea{
    width: 99%;
}
.publishForm input[type="submit"]{
    margin-top: 10px;
}

.fieldsForm p{
    border: none;
}
.fieldsForm label{
    display: inline-block;
}
.fieldsForm td,
.fieldsForm th{
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
}

.fieldsForm td{
    width: 40%;
}
.fieldsForm td + td{
    width: 60%;
}
.fieldsForm small{
    font-size: 12px;
    font-style: italic;
    line-height: 0px;
    padding: 0px;
}

.fieldOptions{
    display: none;
}

.message{
    background-color: #1F2B33;
    background-position: 25px center;
    background-repeat: no-repeat;
    color: #FFF;
    display: block;
    padding: 10px 50px;
}

.message.error{
    background-image: url(../img/error.png);
}

.message i{
    color: #FFF;
    cursor: pointer;
    float: right;
    font-style: normal;
    position: relative;
    right: -20px;
}
.message.success{
    background-image: url(../img/success.png);
}