section{
    background: url('/public/img/404.png') center center no-repeat;
    background-color: #D9E2EA;
    background-size: 350px;
    border-radius: 0px;
    height: 400px;
}
h1{
    display: none;
}
section > div{
    display: none;
}

